.canvasi {
    width: 25vw;
    height: 74vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    background-color: rgb(247, 247, 247);
}

.canvassi {
    width: 100vw;
    height: 74vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
}